
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fffbfb;
    color: #333;
}

h2 {
    margin-top: 0;
}


header {
    background-color: #a30000;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

nav a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


#hero {
    background: url("hero.jpg") center/cover no-repeat;
    padding: 120px 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
#hero h2 {
    font-size: 40px;
}
#hero p {
    font-size: 20px;
}


.container {
    padding: 40px 20px;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    margin: 0 0 10px 0;
}




footer {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}